<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joulinks digital hub</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/mediaQ.css">
    <style>
        /* Add any additional styling here */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            font-size: 1.5rem;
            text-transform: capitalize;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color:orangered;
            color: #fff;
        }
        .student--detail{
            padding-bottom: 5rem;
        }
    </style>
</head>

<body class="student--profile-body">

    <h1 class="student--cardh1">student card</h1>
    <div class="student--card">
        
   <div class="studentImg-cover">
    <img src="/img/<%= student.photo %>" alt="Student Profile" class="student--profile--pics">
   </div>

        <div class="student--detail">
            <table>
                <tr>
                    <th>Detail</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td><%= student.firstname %></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><%= student.lastname %></td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                 
<td><%= student.DOB.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></td>


                </tr>
                <tr>
                    <td>State of Origin</td>
                    <td><%= student.stateOfOrigin%></td>
                </tr>
                <tr>
                    <td>Home Address</td>
                    <td><%= student.homeAddress%></td>
                </tr>
                <tr>
                    <td>Course</td>
                    <td><%= student.course%></td>
                </tr>
                <tr>
                    <td>Lesson Time</td>
                    <td><%= student.lessonTime %></td>
                </tr>
                <tr>
                    <td>payment Method</td>
                    <td><%= student.paymentMethod %></td>
                </tr>
                <tr>
                    <td>email</td>
                    <td><%= student.email%></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>
