<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joulinks digital hub</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/mediaQ.css">

</head>

<body>
    <header class="landing--pageTwo">
        <% if (user) { %>
        <nav class="tutor--nav">
            <span class="tutor--img">
                <img src="/img/<%= user.photo %>" alt="" class="tutor-img">
                <p class="tutorname">Joulinks digital hub</p>
            </span>
            <a href="/sendEmail" class="nav--link">send email</a>
            <a href="#" class="nav--link logout">logout</a>


            
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class=" harmbuger" id="sticky--icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        </nav>
        <% }%>
        <ul class="fixed-nav">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class=" cancel " id="stick-cancel">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
            <li class="fixednav-list"><a href="/sendEmail" class=" href">send email</a></li>
            <li class="fixednav-list logout"><a href="#" class=" href">logout</a></li>
      </ul>
    </header>

    <main>
        <form action="" class="filter">
            <h1 class="filter--h1">search student</h1>
            <span class="child">
                <input type="text" class="filter--input" id="searchInput" placeholder="search here">
                <button class="filter--btn">filter</button>
            </span>
        </form>


        <section id="overview--container">
            <% students.forEach(student => { %>
                <div class="student--profile--container" id="studentProfiles">
                    <img src="/img/users/<%= student.photo %>" alt="Student Photo" class="student--profile">
                    <a  href="/student_Card/<%= student._id %> " class="student--name"> <%= student.firstname %> <%= student.lastname %></a>
                </div>
            <% }); %>
        </section>
    </main>
   
    <script src="/js/index.js"></script>
    <script src="/js/searchStudent.js"></script>
    <script src="/js/logout.js"></script>


    
</body>

</html>